@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #000;
  font-weight: 400;
  //   background-color: #98c1d9;
  background: rgb(227, 255, 4);
  background: linear-gradient(
    90deg,
    rgba(227, 255, 4, 1) 0%,
    rgba(17, 226, 139, 1) 43%,
    rgba(0, 212, 255, 1) 100%
  );
}
.main-section {
  max-width: 100rem;
  margin: 0 auto;
  height: 100vh;
}
.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid black 2px;
}
.logo {
  height: 4.2rem;
}
.nav-top-right {
  display: flex;
  gap: 3.4rem;
}
.navigation {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
}
.navigatioyn-links {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #000;
    transition: width 0.2s ease;
    border-radius: 1rem;
  }

  &:hover:after {
    width: 100%;
    left: 0;
    background: #000;
  }
}
.filled-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem 3.2rem;
  border-radius: 0.6rem;
  background-color: #ee6c4d;
  &:hover {
    background-color: #c3583d;
    transition: 0.3s;
  }
}
.hero-section {
  display: flex;
  padding: 0.2rem;
}
.hero-left {
  margin-top: 4rem;
}
.title {
  font-size: 3.6rem;
  line-height: 1.2;
  letter-spacing: 1.6px;
  color: #000;
  margin: 2.6rem 0;
}
.description {
  font-size: 1.8rem;
  color: #000;
  margin: 2rem 0;
  line-height: 1.6;
}
.blue-text {
  color: rgb(89, 142, 255);
}
.speed {
  font-weight: 500;
  text-transform: uppercase;
}
.hero-links {
  display: flex;
  align-self: center;
  gap: 2rem;
  margin: 2.6rem 0;
}
.filled-link-hero {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  background-color: #ee6c4d;
  &:hover {
    background-color: #c3583d;
    transition: 0.3s;
  }
}
.location-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  background-color: transparent;
  border: 3px solid black;
  &:hover {
    color: #fff;
    border: 3px solid #fff;
    transition: 0.3s;
  }
}
